<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="/" title="Home">Home</a> |
      <a href="{% url 'about' %}" title="About">About</a> |

      <a href="{% url 'posts:list' %}" title="Posts">Posts</a>|{% if user.is_authenticated %}
        <a href="{% url 'posts:new-post' %}" title="New Post">New Post</a>|<form class="Logout" action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button class="logout-button" title="User Logout" aria-label="User Logout">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'users:register' %}" title="Register">Register</a>|

        <a href="{% url 'users:login' %}" title="login">Login</a>|
      {% endif %}
    </nav>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
  <script src="{% static 'scripts/main.js' %}" defer></script>
</html>
